<!DOCTYPE html>
<html>
    <head>
        <title>yangwenyu</title>
        <link rel="stylesheet" href="../css/mdui.min.css">
        <style>
        .all{
            margin:50px 50px 50px 50px;
        }
        .all > * > div:hover{
            background-color:aqua;
        }
        .dd{
            padding:50px 50px 50px 50px;
        }
        </style>
    </head>
    <body>
        <div class="mdui-container-fluid all">
            <div class="mdui-row">
                <div class="mdui-col-md-2 mdui-shadow-10 dd">
                    haha
                </div>
            </div>
        </div>
    </body>
</html>